@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  margin:0;
  padding:0;
  font-family:Arial, Helvetica, sans-serif;
  background:#f4f7fc;
  color:#111827;
  transition:.3s;
}

body.dark{
  background:#111827;
  color:white;
}

/* Cards */

body.dark .card{
  background:#1f2937 !important;
  color:white !important;
  border:none !important;
}

/* Tables */

body.dark table{
  color:white !important;
}

body.dark .table{
  color:white !important;
}

body.dark .table td,
body.dark .table th{
  background:#1f2937 !important;
  color:white !important;
}

body.dark .table-primary th{
  background:#2563eb !important;
}

/* Inputs */

body.dark input,
body.dark textarea,
body.dark select{
  background:#374151 !important;
  color:white !important;
  border:1px solid #4b5563 !important;
}

body.dark input::placeholder{
  color:#d1d5db;
}

/* Buttons */

body.dark .btn-light{
  background:#374151 !important;
  color:white !important;
}

/* Bootstrap */

body.dark .text-muted{
  color:#d1d5db !important;
}